body {
    background-color: #b0c4de;
    margin-left: 5%;
}

table {
    border-bottom: 2px solid maroon;
    background: #fffacd;
}

th {
    background: maroon;
    color: white;
    text-align: left;
}

td, th {
    width: 250px;
    padding: 3px;
    border: 1px solid maroon;
}